body{
    background-image: url(./img/wall12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#contain{
    margin-top: 180px;
    margin-left: 50px;
    padding: 5px;
    text-align: center;
    height: 350px;
    width:550px;
    /* background-image: url(/img/v2.gif); */
    background-repeat: no-repeat;
    background-size: cover; 
    box-shadow:   3px 2px 4px wheat; 
    border:2px solid whitesmoke; 
    border-radius: 15px;
}
h1{
    font-family: algerian;
    font-size: 28px;
    color: white;
    margin-top: 20px;
}
form{
    color: white;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
}
#i1{
    margin-top: 40px;
    height: 40px;
    width: 250px;
    background-color: rgba(84, 125, 228, 0);
    border:2px solid white;
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;

}
#login{
    border-radius: 10px;
    border:1px solid whitesmoke;
    background-color: rgba(84, 125, 228, 0);
    width: 100px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 2px 1px 1px ;
    color:white;
    size: 10px;
    background-color:Hex #5dbea3;
    margin-top: 50px;
    margin-left: -25px;
    cursor: pointer;

}
#login:hover{
    background-color: white;
    color: blue;
    font-weight: bold;
    font-size: 20px;
}